.container {
  display: grid;
  height: calc(100vh - 132px);
  grid-template-columns: auto 30% auto;
  grid-template-rows: 8% 30% 30% 30%;
  gap: 50px;
  grid-template-areas: 
    "header header header"
    ". avaliation ."
    ". consult ."
    ". diet . ";
}
.header {
  grid-area: header;

  background: var(--white);
}
.consultas {
  grid-area: consult;
  background: #343965;
}
.avaliacoes {
  grid-area: avaliation;
  background: #343965;
}
.dietas {
  grid-area: diet;
  background: #343965;
}