.container {
  display: grid;
  height: calc(100vh - 132px);
  grid-template-columns: auto 30% 30% auto;
  grid-template-rows: 8% auto 45% 45%;
  gap: 50px;
  grid-template-areas:
    "header header header header"
    ". calendar data ."
    ". consult avaliation ."
    ". diet client . ";
}

.header {
  grid-area: header;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--light-blue);
  h1 {
    margin-left: 50px;
  }
  a {
    color: var(--dark-blue);
    font-size: 30px;
    margin-right: 50px;
  }
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: calendar;
  color: var(--white);
  border-radius: 10px;
  padding-bottom: 20px;

  h1 {
    padding: 15px;
  }
}

.calendar {
  padding: 10px;
  align-self: center;
}

.dadosContainer {
  grid-area: data;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  grid-template-columns: 40% 40%;
  grid-template-rows: 8% 40% 40%;
  gap: 20px;
  grid-template-areas:
    "dados dados"
    "clientes dietasf"
    "dietasp Dconsultas";

  h1 {
    justify-self: start;
  }

  div {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--light-blue);

    h1 {
      font-size: 16px;
      padding: 10px;
    }

    p {
      color: var(--white);
      font-size: 64px;
      font-weight: bold;
      font-family: 'Inter';
    }
  }

  .dadosClientes {
    grid-area: clientes;
  }

  .dadosDietasF {
    grid-area: dietasf;
  }

  .dadosDietasP {
    grid-area: dietasp;
  }

  .dadosConsultas {
    grid-area: Dconsultas;
  }
}

.consultasContainer {
  grid-area: consult;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.title {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  h1 {
    padding: 15px 0;
  }
  button {
    color: var(--white);
    background-color: var(--dark-blue);
    border: 0;
    border-radius: 5px;
    margin: 5px;
    transition-duration: 0.4s;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: var(--white);
      color: var(--dark-blue);
    }
  }
}

.consultas {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--white);
  border-radius: 5px;
  width: 80%;
  padding: 20px;
}


.avaliacoesContainer {
  grid-area: avaliation;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.avaliacoes {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--white);
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  div {
    display: flex;
    gap: 5px;
  }
}

.dietasContainer {
  grid-area: diet;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.dietas {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--white);
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  div {
    display: flex;
    gap: 5px;
  }
}

.clientesContainer {
  grid-area: client;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.clientes {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--white);
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  div {
    display: flex;
    gap: 5px;
  }
}

h1 {
  font-size: 24px;
  color: var(--white);
}