.modal {
  background-color: #343965;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--white);
  width: 500px;
  margin: auto;
  margin-top: 20rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
}
.overlayModal {
  border: 1px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // backdrop-filter: blur(10px);
}
.closeButton {
  cursor: pointer;
  font-weight: 500;
  padding-top: 4px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  position: absolute;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  align-self: flex-start;
}

.closeButton:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-1px, 1px);
}